<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ethanmann.omnibus">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/omnibus_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZHbFkBJRc2-l06UH1dEbAw5x8evcUTUE" />
        <activity android:name=".FirstTime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".StudentLogin" android:theme="@style/Login" android:label="StudentHome"></activity>
        <activity android:name=".StudentHome" android:label="StudentHome"></activity>
        <activity android:name=".Settings" android:label="Settings" android:parentActivityName=".StudentHome"></activity>
        <activity android:name=".DriverHome" android:label="Home"></activity>
        <activity android:name=".Dev"   android:label="DEV PAGE"></activity>
        <activity android:name=".About" android:parentActivityName=".StudentHome" android:label="About"></activity>
        <activity android:name=".WIP" android:parentActivityName=".StudentHome" android:label="WIP"></activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>